body{
    background: linear-gradient(to top, white,green);
}

.span3{
    grid-column: span 3;
}

.counterGrid{
    display:grid; 
    justify-content:center; 
    align-content:center; 
    min-height:100vh; 
    grid-template-columns: repeat(3,200px); 
    grid-template-rows: minmax(120px,auto);
}

button:hover{
    background-color: rgba(255,255,255,0.9);
}

.buttonStyle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    border:1px solid white;
    background-color:rgba(255,255,255,.75);
    padding:10px;
}
