body{
    background: linear-gradient(to top, white,green);
}

h1{
    grid-column:1/-1; 
    text-align:center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    text-align:center; 
    font-size:2rem; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul{
    font-family:'Segoe UI',Tahoma,Geneva,Verdana,sans-serif; 
    list-style-type:none; 
    text-align:center;
}

.span3{
    grid-column: span 3;
}

.counterGrid{
    display:grid; 
    justify-content:center; 
    align-content:center; 
    min-height:100vh; 
    grid-template-columns: repeat(3,200px); 
    grid-template-rows: minmax(120px,auto);
}

button:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0.9);
}

.buttonStyle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    border:1px solid white;
    background-color:rgba(255,255,255,.75);
    padding:10px;
}

.buttonBackground{
    position:fixed; 
    top:10px; 
    left:10px; 
    font-size:1rem;
}
